<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Tak2 CV match rate</title>
</head>
<body>
<h1 style="text-align: center">Tak2 CV compare</h1>
    <form method="POST">
    <table>
        <tr>
            <th>Your CV</th>
            <th>The Job Description</th>
        </tr>
        <tr>
            <td>
            <textarea type="text" id="cvtxt" name="cvtxt" style="height:200px"></textarea>
            </td>
            <td>
            <textarea type="text" id="jdtxt" name="jdtxt" style="height:200px"></textarea>
            </td>                
        </tr>
    </table>
    
    <input  style="text-align: center" type="submit" value="Compare" >
    </form>

</body>
</html>